<%- include('header') %>

<div class="page-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="page-header d-flex justify-content-between align-items-center">
            <div>
                <h1 class="h3 mb-1">Add Skill</h1>
                <p class="text-muted small mb-0">Add your skills here</p>
            </div>
        </div>
        <div class="crow g-4">
            <div class="col-12">
                <form action="/admin/skill_add_save" method="post">
                    <label>Technical Skills</label>
                    <input type="text" name="tech_name" class="form-control mb-4">
                    <label>Persentage</label>
                    <input type="text" name="tech_per" class="form-control mb-4">
                    <button class="btn btn-primary ">Save</button>
                </form>
            </div>
        </div>

        <!-- Yaha se apna form ya content likho -->

    </div>
</div>

<%- include('footer') %>